.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.flexbox-container{
  display: flex; /*To bring each item in continuation of that line*/
  padding: 10px;
  flex-direction: row;
  width: 100%;
  /* background-color: #3a424e; */
  justify-content: center;  /*center the items of container*/
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
